html {
	height:100%;
	font-family: Arial, non-serif;
	font-size: 19px;
	color: #0c0c0c;
	overflow: hidden;
}

body {
	background-color: #fff; 
	background-image: -webkit-linear-gradient(left, #fff, #85c1de);
	background-image:    -moz-linear-gradient(left, #fff, #85c1de);
	background-image:     -ms-linear-gradient(left, #fff, #85c1de);
	background-image:      -o-linear-gradient(left, #fff, #85c1de);
	background-image:         linear-gradient(left, #fff, #85c1de);
	padding-top: 80px;
}

.navbar {
	background-color: #eee; 
	background-image: -webkit-linear-gradient(top, #fff, #eee);
	background-image:    -moz-linear-gradient(top, #fff, #eee);
	background-image:     -ms-linear-gradient(top, #fff, #eee);
	background-image:      -o-linear-gradient(top, #fff, #eee);
	background-image:         linear-gradient(to bottom, #fff, #eee);
	height: 62px;
	border-bottom: 1px solid #bdbcbd !important;
}

ul.nav {
	padding-top: 9px;
}

ul.nav li {
	width: 158px;
	height: 59px;
	text-indent: -99999px;
	margin-right: 5px;
}

ul.nav > li > a {
	padding-top:29px;
}

ul.nav > li > a:hover {
	background-color: transparent!important;
}

ul.nav li:first-child a {
	background: url('img/grey_catalogue_tab.png') no-repeat;
}

ul.nav li:last-child a {
	background: url('img/grey_map_view_tab.png') no-repeat;
}

ul.nav li:first-child.active a {
	background: url('img/blue_catalogue_tab.png') no-repeat;
}

ul.nav li:last-child.active a {
	background: url('img/blue_map_view_tab.png') no-repeat;
}

#search-div {
	background: #edece8;
	height: 56px;
	width: 510px;
	padding-left: 7px;
	padding-right: 0;
	margin-left: 8px;
	float: left;
}
	#search-div input[type="search"] {
		height: 40px;
		width: 400px;
		margin-top: 8px;
		margin-right: 4px;
		float: left;
		font-size: 21px;
		padding-left: 7px;
	}

	#search-div img {
		margin-top: 8px;
	}

#pagination {
	float:left;
	padding-left: 12px;
}

	#pagination p{
		float: left;
		padding-right: 10px;
		line-height: 56px;
		margin-bottom: 0;
	}

	#pagination div {
		float: left;
	}

	#pagination img {
		margin-top: 8px;
	}

body > .container-fluid > .row:last-child {
	margin-top: 15px;
}

#search-results {
	padding-right: 0;
}

	#search-results ul {
		list-style-type: none;
		padding-left: 0;
		margin: 0;
		overflow-y: auto;
		border: 1px solid #edece8;
	}

		#search-results ul li {
			padding: 21px 31px;
			background-color: #fff; 
			background-image: -webkit-linear-gradient(top, #fff, #eee);
			background-image:    -moz-linear-gradient(top, #fff, #eee);
			background-image:     -ms-linear-gradient(top, #fff, #eee);
			background-image:      -o-linear-gradient(top, #fff, #eee);
			background-image:         linear-gradient(to bottom, #fff, #eee);
		}

			#search-results ul li .sub-title {
				padding-bottom: 10px;
			}

			#search-results ul li .title {
				font-size: 32px;
				color: #0b83be;
				padding-bottom: 30px;
			}

			#search-results ul li .content {
				padding-bottom: 20px;
			}

			#search-results ul li .buttons a {
				font-size: 24px;
				text-decoration: none;
				color: #8B8B8B;
				padding-right: 10px;
			}

				#search-results ul li .buttons a img {
					margin-right: 10px;
				}

			#search-results ul li .buttons input {
					text-align: center;
				}

#map {
	background: url('img/map.png') no-repeat;
}