.x-grid3-cell-inner, .x-grid3-hd-inner {
  white-space : normal; /* changed from nowrap */
}

.link {
  cursor : pointer;
}

.maskText td {
  font : 11px/13px tahoma,helvetica,sans-serif;
}

.olControlZoomPanel {
  top : 10px !important;
  left : 10px !important;
}
